<?xml version="1.0" encoding="UTF-8"?>
<Application>
	<Registry key="html/static_root" value="/Apps/Example/static/"></Registry>
	<Registry key="uses" type="add" value="O_Base_Session"></Registry>
	<Url pattern="(page/([0-9]+)/([-a-z]+)?)?">
		<Registry key="paginator/page" pocket="2"></Registry>
		<Registry key="paginator/perpage" value="3"></Registry>
		<Registry key="paginator/order" pocket="3"></Registry>
		<Registry key="cmd/show/class" value="Ex_Mdl_Post"></Registry>
		<Registry key="cmd/show/url_pattern" value="page/{PAGE}/{ORDER}"></Registry>
		<Registry key="cmd/show/ajax" value="1"></Registry>
		<Registry key="cmd/show/orders/time" value="Time"></Registry>
		<Registry key="cmd/show/orders/id" value="PK"></Registry>
		<Command type="ShowLoop"></Command>
	</Url>
	<Url pattern="post/form(/([0-9]+))?">
		<Registry key="posts/id" pocket="2"></Registry>
		<Command name="Form"></Command>
	</Url>
	<Url pattern="post/([0-9]+)">
		<Registry key="posts/id" pocket="1"></Registry>
		<Registry></Registry>
		<Command name="Post"></Command>
	</Url>
	<Registry key="db/default/engine" value="mysql"></Registry>
	<Registry key="db/default/host" value="localhost"></Registry>
	<Registry key="db/default/dbname" value="Orena"></Registry>
	<Registry key="layout_class" value="O_Html_MainLayout"></Registry>
</Application>
