<?xml version="1.0" encoding="UTF-8"?>
<Application>
	<Registry key="html/static_root" value="/Apps/Example/static/"></Registry>
	<Registry key="uses" type="add" value="O_Http_Session"></Registry>
	<Url pattern="page/([0-9]+)">
		<Registry key="posts/page" pocket="1"></Registry>
		<Command name="Main"></Command>
	</Url>
	<Url pattern="post/form(/([0-9]+))?">
		<Registry key="posts/id" pocket="2"></Registry>
		<Command name="Form"></Command></Url>
	<Url pattern="post/([0-9]+)">
		<Registry key="posts/id" pocket="1"></Registry>
		<Command name="Post"></Command></Url>
	<Command name="Main"></Command>
	<Registry key="db/default/engine" value="mysql"></Registry>
	<Registry key="db/default/host" value="localhost"></Registry>
	<Registry key="db/default/dbname" value="Orena"></Registry>
</Application>
